* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica;
}

ul {
    list-style: none;
}

a {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    color: #333;
    background: #999;
    width: 320px;
    padding: 0.9em 0;
    text-align: center;
    word-wrap:break-word;
}

a.sub {
    background: #ddd;
}

a.dir, a.ajax {
    background: -moz-linear-gradient(top, #ccc 0%, #ddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(100%,#ddd));
    background: -webkit-linear-gradient(top, #ccc 0%,#ddd 100%);
    background: -o-linear-gradient(top, #ccc 0%,#ddd 100%);
    background: -ms-linear-gradient(top, #ccc 0%,#ddd 100%);
    background: linear-gradient(to bottom, #ccc 0%,#ddd 100%);
    font-weight: bold;
}
