<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>Remote Control</title>
<link rel="icon" type="image/png" href="/static/icon.png">
<script type="text/javascript" src="/static/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/static/code.js"></script>
<link rel="stylesheet" href="/static/main.css" />
</head>
<body>
{% block main %}
{% endblock %}
</body>
</html>
