{% extends 'base.html' %}
{% block main %}
<ul>
  <!--  <li>  {{session['filename']}} </li> -->
  <li>  <a href={{url_for('command', cmd='pausing_keep seek -10')}}>&larr; Back </a> </li>
  <li>  <a href={{url_for('command', cmd='pause')}}>Play / Pause</a> </li>
  <li>  <a href={{url_for('command', cmd='pausing_keep seek +10')}}>&rarr; Forward</a> </li>
  <li>  <a href={{url_for('command', cmd='quit')}}>Quit</a> </li>
  <li>  <a href={{url_for('command', cmd='osd_show_progression')}}>OSD</a> </li>
  <li>  <a href={{url_for('command', cmd='volume +10')}}>Volume Up</a> </li>
  <li>  <a href={{url_for('command', cmd='volume -10')}}>Volume Down</a> </li>
</ul>
{% endblock %}
