{% extends 'base.html' %}
{% block main %}
{% if title[0] %}
<h2><a class="dir ui-btn ui-icon-arrow-l ui-btn-icon-left" href='{{url_for('explore', path=title[0])}}'>{{title[1]}}</a></h2>
{% endif %}
<ul data-role="listview">
{% for base, directory in directories: %}
<li><a class="dir" href="{{url_for('explore', path=base)}}">{{directory}}</a></li>
{% endfor %}
{% for base, _file, sub_exists in files: %}
{% if sub_exists: %}
<li data-icon="gear"><a class="dir" href="{{url_for('play', path=base)}}">{{_file}}<span class="ui-li-count">S</p></a></li>
{% else %}
<li data-role="list-divider">{{_file}}</li>
<li data-icon="gear"><a class="dir" href="{{url_for('play', path=base)}}">{{_file}}</a></li>
<li data-icon="arrow-d"><a href='{{url_for('sub', path=base)}}'><p>Download Subtitle</p></a></li>
{% endif %}
{% endfor %}
</ul>
{% endblock %}
