{% extends 'base.html' %}
{% block main %}
{% if title[0] %}
<a class='dir' href='{{url_for('explore', path=title[0])}}'>&larr;{{title[1]}}</a>
{% endif %}
  <ul>
  {% for base, directory in directories: %}
    <li><a class='dir' href="{{url_for('explore', path=base)}}">{{directory}}</a></li>
  {% endfor %}
  {% for base, _file, sub_exists in files: %}
  <li><a class='dir' href="{{url_for('play', path=base)}}">{{_file}}
    {% if sub_exists: %}
        [S]
    {% else: %}
      <a class='sub' href='{{url_for('sub', path=base)}}'> &uarr; Download Subtitle</a>
    {%endif%}
  </a></li>
  {% endfor %}
</ul>
{% endblock %}
